html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #404040;
  margin: 0;
  padding: 0;
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  color: currentColor;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #00a389;
}

p {
  margin: 0px;
}

input:focus {
  outline: #00a38980 auto 1px;
}
